html {
	height: 100%;
}

.flex {
	display: flex;
	height: 100%;
	align-items: center;
	margin: 0;
}

a {
	text-decoration: none;
}

.poem { 
	font-size:60px;
	font-family: Helvetica;
	text-align: center;
	position: relative;
 }

.land {
	font-size: 48px;
	font-family: Verdana;
	font-style: italic;
	text-align: center;
    position: relative;
    top: 105%;
    right: -65%;
    
}

.promisedland {
	font-size: 40px;
	text-align: left;
	position: relative ;
    /*position: absolute;
    top: 120%;
    left: 70%;*/
     position: relative;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.persistland{
	font-size: 10px;
	text-align: left;
	position: relative ;
    /*position: absolute;
    top: 120%;
    left: 70%;*/
     position: relative;
	top: 10px;
	left: -255px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;


}

.missedland{
	font-size: 10px;
	text-align: left;
	position: relative ;
    /*position: absolute;
    top: 120%;
    left: 70%;*/
     position: relative;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
 .prejudicedland{
	font-size: 20px;
	text-align: left;
	position: fixed;
	left:0%;
    /*position: absolute;
    top: 120%;
    left: 70%;*/
  ;
	top: -149px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}



pre {
   font-family: "monaco", monospace;
   font-size: 20px;
}


.capitalistland {
  font-size: 50px;
  font-family: Helvetica;
  position: relative;
  right: -508px;
  top:81px;
  	
 }

.small-font {
	font-size: 40px;
}

.large-font {
	font-size
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.helvetica {
	font-family: helvetica;
}