html{
	font-size: 30px;
}

.red {
	color: red;
	font-size: 50px;
	font-family: Helvetica;
}

.italic {
	font-style: italic;
}

body {
	background-color: #ccf2ff;
}

.shark{ 
	color: red;
	font-size: 50px
	font-family: Helvetica;
 
 }