html {
	height: 100%;
}

.flex {
	display: flex;
	height: 100%;
	align-items: center;
	margin: 0;
}

a {
	text-decoration: none;
}

.poem { 
	font-size:60px;
	font-family: Helvetica;
	text-align: center;
	position: relative;
 }

.land {
	background-color: #4CAF50;
	color:white;
	font-size: 48px;
	font-family: Verdana;
	font-style: bold;
	text-align: center;
  
    left: 72%;
        position: fixed;
    top: 5%;
    left: 7%;
    border: inset;
        border: outset;
        border-spacing: 20px;
    border-color: #d9d9d9;
    padding:10px 20px;
    border-width: 8px;
}
  
.land:hover {
  background-color: red; /* Green */
  color: white;
  border: outset;
  border-color: grey;
  padding:10px 20px;
  border width:12;
}



.promisedland {
	font-size: 40px;
	text-align: left;
	position: relative ;
    /*position: absolute;
    top: 120%;
    left: 70%;*/
     position: relative;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
	
}
pre {
    font-family: "monaco", monospace;
    font-size: 22px;
    position: fixed;
    right: 19px;
}


.capitalistland {
  font-size: 20px;
  font-family: Helvetica;
  position: relative;
/*  right: -319px;
*/  top: 81px;
  left: 200px;
	
 }

 .capitalistland pre {
	font-size: 20px;
}

.small-font {
	font-size: 40px;
}

.large-font {
	font-size
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.helvetica {
	font-family: helvetica;
}
 .prejudicedland{
	font-size: 20px;
	text-align: left;
	position: fixed;
	left:0%;
    /*position: absolute;
    top: 120%;
    left: 70%;*/
  ;
	top: -149px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}



pre {
   font-family: "monaco", monospace;
   font-size: 20px;
}

