.quote {
  font-family: sans-serif;
  font-size: 30px;
  margin: 15px;
}

.RichardBach {
  font-family: monospace;
  font-size: 20px;
  margin: 5px;
}
.box {
  height: relative;
  border: solid black 2px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  padding-top: 0px;
}/* Your styles go here */
